:root {
  --firstColour: rgba(211, 232, 253, 0.84);
  --secondColor: rgba(255, 242, 129, 0.55);
  --thirdColor: rgba(133, 144, 242, 0.44);
  --fourthColor: rgba(203, 202, 251, 0.69);
  --fifthColor: rgba(114, 113, 174, 0.81); 
  --sixthColor: rgb(135, 115, 81);
  --seventhColor: rgb(124, 64, 145);
  --eigthColor: rgb(118, 71, 179);
  --ninethColor: rgb(48, 11, 78);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.homepage,
.digital-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Solway', serif;
  color: var(--ninethColor);
}
.header {
  background-color: var(--firstColour);
}
.header__nav {
  padding: 2rem;
}
ul {
  list-style: none;
  padding: 0;
}
.header__item {
  height: 2rem;
}
.header__home,
.header__digital-publication,
.header__work,
.header__about {
  fill: var(--sixthColor)
}
.header__title {
  padding: 2rem;
}
.header__julia-machado,
.landing-img {
  fill: var(--fifthColor);
}
.main {
  padding: 2rem;
  background-color: var(--secondColor);
}
.main__title {
  fill: var(--fifthColor);
}
.main__body {
  display: flex;
}
.main__img {
  width: 100%;
}
.about-section {
  padding: 2rem;
  background-color: var(--thirdColor);
}
.about-section__title {
  fill: var(--eigthColor)
}
.about-section__body {
  display: flex;
}
.bio__title {
  height: 2rem;
  fill: var(--eigthColor)
}
.bio__self-portrait {
  fill: var(--eigthColor)
}
h5 {
  margin-bottom: 0;
}
p {
  margin: 0;
}
.list {
  margin-top: 0;
}
/* === Digital publication === */

.digital-publication {
  background-color: var(--fourthColor);
  height: 100vh;
  overflow: hidden;
}
.digital-publication__title {
  fill: var(--eigthColor)
}
.train {
  margin-left: -5px;
  margin-right: -40px;
  /* margin-bottom: -20px; */ 
}
.digital-publication__header {
  padding: 2rem 0;
}

/* === WORK === */

.work-page {
  margin: 0;
  display: flex;
  font-family: 'Solway', serif;
  color: var(--ninethColor);
}

.work {
  background-color: var(--fifthColor);
}
.work__title {
  fill: var(--fourthColor)
}
.work__header {
  padding: 2rem 0;
}
.work__body {
  display: flex;
}