:root {
  --firstColour: rgba(189, 221, 252, 0.84);
  --secondColor: rgb(255, 247, 170);
  --thirdColor: rgba(133, 144, 242, 0.44);
  --fourthColor: rgba(203, 202, 251, 0.69);
  --fifthColor: rgba(75, 73, 184, 0.81); 
  --sixthColor: rgb(135, 115, 81);
  --seventhColor: rgb(124, 64, 145);
  --eigthColor: rgb(118, 71, 179);
  --ninethColor: rgb(48, 11, 78);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.homepage,
.digital-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Solway', serif;
  color: var(--ninethColor);
}
.header {
  background-color: var(--firstColour);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.header__nav {
  padding: 2rem 2rem 0 2rem;
}
ul {
  list-style: none;
  padding: 0;
}
.header__item {
  height: 2rem;
}
.header__home,
.header__digital-publication,
.header__work,
.header__about {
  fill: var(--sixthColor)
}
.header__digital-publication {
  height: 3rem;
}
.header__title{
  width: 70vw;
  margin: 0 auto;
}
.header__julia-machado,
.landing-img {
  fill: var(--fifthColor);
}

/*  ======= */

.main {
  padding: 2rem;
  background-color: var(--secondColor);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* outline: red solid; */
}
.main__title {
  fill: var(--fifthColor);
}
.main__body {
  padding: 2rem 0;
  /* outline: red solid; */
  flex-grow: 1;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main__img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.main__card {
  position: relative;
  /* outline: red solid; */
  height: 350px;
  margin: 10px 0;
  flex-basis: 30vw;
}
.main__anchor::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* ======== */

.about-section {
  padding: 2rem;
  background-color: var(--thirdColor);
}
.about-section__title {
  fill: var(--eigthColor)
}
.about-section__body {
  display: flex;
}
.bio__title {
  height: 2rem;
  fill: var(--eigthColor)
}
.bio__self-portrait {
  fill: var(--eigthColor)
}
h5 {
  margin-bottom: 0;
}
p {
  margin: 0;
}

/*  ======== */
footer {
  padding: 2rem;
  background-color: var(--thirdColor);
}
footer p {
  text-align: right;
  font-size: .8rem;
  color: var(--ninethColor);
}
.footer__link {
  font-weight: bold;
  color: var(--ninethColor);
}

/* === Digital publication === */

.digital-publication {
  background-color: var(--fourthColor);
  height: 100vh;
  overflow: hidden;
}
.digital-publication__title {
  fill: var(--eigthColor)
}
.animation {
  display: grid;
  grid-template-columns: 100vw;
  grid-auto-columns: 80vh;
  grid-template-areas: "animation";
}
.train {
  margin-left: -5px;
  margin-right: -40px;
  grid-area: animation;
  z-index: 1;
  /* margin-bottom: -20px; */ 
}
.digital-publication__header {
  padding: 2rem 0;
}
.wall {
  margin-top: 9rem;
  grid-area: animation;
  animation: run 8s infinite;
}

@keyframes run {
  0% {
    transform: translate(-35%);
  }
  50% {
    transform: translate(3%);
  }
  100% {
    transform: translate(-35%);
  }
} 

/* === WORK === */

.work-page {
  margin: 0;
  display: flex;
  font-family: 'Solway', serif;
}

.work {
  background-color: var(--fifthColor);
}
.work__title {
  fill: var(--fourthColor)
}
.work__header {
  padding: 2rem 0;
}
.work__body {
  display: flex;
}
/* .hide {
  display: none;
} */
