:root {
  --firstColour: rgba(189, 221, 252, 0.84);
  --secondColor: rgba(255, 247, 170, 0.92);
  --thirdColor: rgba(133, 144, 242, 0.44);
  --fourthColor: rgb(219, 218, 252);
  --fifthColor: rgba(75, 73, 184, 0.81); 
  --sixthColor: rgb(135, 115, 81);
  --seventhColor: rgb(124, 64, 145);
  --eigthColor: rgb(118, 71, 179);
  --ninethColor: rgb(48, 11, 78);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.homepage,
.digital-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Solway', serif;
  color: var(--ninethColor);
}
.header {
  background-color: var(--firstColour);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.header__nav {
  padding: 2rem 2rem 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0
}
.header__item {
  height: 2rem;
}
.header__home,
.header__digital-publication,
.header__work,
.header__about {
  fill: var(--sixthColor)
}
.header__digital-publication {
  height: 3rem;
}
.header__title{
  width: 70vw;
  margin: 0 auto;
}
.header__julia-machado,
.landing-img {
  fill: var(--fifthColor);
}

/*  ======= */

.main {
  padding: 2rem;
  background-color: var(--secondColor);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main__title {
  fill: var(--fifthColor);
}
.main__body {
  padding: 2rem 0;
  flex-grow: 1;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main__img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.main__card {
  position: relative;
  height: 350px;
  margin: 10px;
  flex-basis: 30vw;
}
.main__anchor::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* ======== */

.about-section {
  padding: 2rem;
  background-color: var(--thirdColor);
  height: 100vh;
}
.about-section__title {
  fill: var(--eigthColor)
}
.about-section__body {
  display: flex;
  justify-content: space-between;
}
.bio {
  flex-basis: 35vw;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.bio__title {
  height: 2.5rem;
}
.bio__body {
  flex-grow: 1;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}
.bio__body p {
  margin-bottom: 5rem;
}
.bio__title,
.cv__title {
  fill: var(--eigthColor)
}
.cv__title {
  height: 2rem;
}

.bio__self-portrait {
  fill: var(--eigthColor);
}
h5 {
  margin-bottom: 0;
}
p {
  margin: 0;
}

/*  ======== */
footer {
  padding: 2rem;
  background-color: var(--thirdColor);
}
footer p {
  text-align: right;
  font-size: .8rem;
  color: var(--ninethColor);
}
.footer__link {
  font-weight: bold;
  color: var(--ninethColor);
}

/* === Digital publication === */

.digital-publication {
  background-color: var(--fourthColor);
  height: 100vh;
  /* max-width: 100px; */
  overflow: hidden;
}
.digital-publication__header {
  padding: 2rem;
}
.digital-publication__title {
  fill: var(--eigthColor)
}
.animation {
  width: 1207px;
  position: relative;
  /* var(--fourthColor); */
  margin: 0 auto;
}
.train {
  width: 1207px;
  display: block;  
  position: absolute;
}
.wall {
  position: absolute;
  height: 550px;
  top: 80px;
  animation: run 8s infinite;
  -webkit-animation-name:run;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;

}
.border-right,
.border-left {
  position: absolute;
  height: 800px;
  width: 2000px;
  background-color: var(--fourthColor);
}
.border-left {
  left: -1995px;
}
.border-right {
  left: 1206px;
}

@keyframes run {
  0% {
    transform: translate(-55%);
  }
  50% {
    transform: translate(0.28%);
  }
  100% {
    transform: translate(-55%);
  }
} 

/* === WORK === */

.work-page {
  margin: 0;
  display: flex;
  font-family: 'Solway', serif;
  height: 100vh;
}

.work {
  background-color: var(--fifthColor);
}
.work__title {
  fill: var(--fourthColor)
}
.work__header {
  position: fixed;
  padding: 2rem;
  z-index: 1;
}
.work__body {
  display: flex;
}
.zine-card {
  position: relative;
  height: 100vh;
  padding-top: 11rem;
}
.zine-card__one {
  padding-left: 5rem;
}
.zine {
  padding: 1rem;
  position: absolute;
}
.stamp {
  height: 350px;
  position: absolute;
}
.zine__details {
  position: absolute;
}
dd:first-child {
  font-size: 1.2rem;
}
/* Zines and stamps: specifics */

.zine-card__one {
  width: 800px
}
.zine-one {
  height: 350px;
}
.stamp-one {
  top: 387px;
  left: 188px;
}
.zine-one__details {
  top: 544px;
  left: 480px;
  width: 280px;
}
/* == */

.zine-card__two {
  width: 650px
}
.zine-two {
  height: 500px;
  margin-top: 10rem;
}
.stamp-two {
  top: 146px;
  left: 130px;
}
.zine-two__details {
  top: 175px;
  left: -50px;
  width: 280px;
}

/* == */

.zine-card__three {
  width: 690px;
  padding-left: 150px;
}
.zine-three {
  height: 400px;
  margin-top: 3rem;
}
.stamp-three{
  padding-left: 150px;
  top: 490px;
  left: 60px;
}
.zine-three__details {
  top: 600px;
  left: -60px;
  width: 260px;
}

/* == */

.zine-card__four {
  width: 650px
}
.zine-four {
  height: 350px;
  margin-top: -5rem;
}
.stamp-four {
  top: 237px;
  left: 119px;
}
.zine-four__details {
  top: 600px;
  width: 290px;
}

/* == */

.zine-card__five {
  width: 650px;
}
.zine-five {
  height: 450px;
  margin-top: -5rem;
  right: 75px;
}
.stamp-five {
  top: 407px;
  left: 361px;
}
.zine-five__details {
  top: 600px;
  width: 230px;
}

/* == */

.zine-card__six {
  width: 650px;
  margin-left: 300px; 
}
.zine-six {
  height: 600px;
  margin-top: 10rem;
}
.stamp-six {
  top: 174px;
  left: 150px;
}
.zine-six__details {
  top: 195px;
  left: -100px;
  width: 350px;
}

/* .hide {
  display: none;
} */
